<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notes Taking</title>
    <link rel="stylesheet" href="./stylesheets/style.css" />
  </head>
  <body>
    <div class="mainContainer">
      <header class="headerSec">
        <div class="appTitle">
          <h1>Notes Taking Web App</h1>
        </div>
        <form action="/create" class="formSec" method="post">
          <input
            class="headerTitle"
            type="text"
            placeholder="Enter the title"
            name="title"
          />
          <textarea
            class="headerDescription"
            placeholder="Enter the description"
            name="description"
          ></textarea>
          <input class="headerSubmit" type="submit" value="Create Note" />
        </form>
      </header>
      <main>
        <div class="notes">
          <% if(files.length > 0){ %> <% files.forEach((val) => { %>
          <div class="note">
            <h1 class="noteTitle"><%= val %></h1>
            <div class="noteLinkSec">
              <a href="/files/<%= val %>" class="noteReadMeLink">Read More</a>
              <a href="/edit/<%= val %>" class="noteEditLink">Edit</a>
            </div>
          </div>
          <% }) %> <% }else { %>
          <p class="noTaksText">No Notes yet</p>
          <% } %>
        </div>
      </main>
    </div>
  </body>
</html>
