<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notes Taking</title>
    <link rel="stylesheet" href="/stylesheets/show.css">
  </head>
  <body>
    <div class="mainContainer">
        <div class="homeLink">
            <a href="/">Go to home</a>
        </div>
      <header class="headerSec">
        <div class="appTitle">
          <h1><%= title %></h1>
        </div>
        <div class="description">
            <p><%= filedata %></p>
        </div>
      </header>
  </body>
</html>
